:root {
  --background-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --select-color: #2196f3;
}

body {
  background-color: var(--background-color);
}

p {
  color: var(--secondary-text-color);
}

h1,
h2,
h3 {
  color: var(--primary-text-color);
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
  color: var(--primary-text-color);
}

.btn:hover,
.btn:focus {
  color: var(--select-color);
}
