:root {
  --bcg-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --select-color: #2196f3;
  --white: #ffffff;
  --footer-color: #2f303a;
  --btn-select-bcg: #f5f4fa;
}

body {
  background-color: var(--bcg-color);
  color: var(--secondary-text-color);

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.logo {
  color: var(--primary-text-color);

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-blue {
  color: var(--select-color);
}

header .contact-link {
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.hero {
  text-align: center;
}

.hero-text {
  color: var(--white);
  background-color: gray;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-text {
  color: var(--primary-text-color);
}

h2.section-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
  letter-spacing: 0.03em;
}

h3.section-title {
  color: var(--primary-text-color);

  font-weight: 700;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features .text {
  font-weight: 400;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

.work .text {
  color: var(--white);
  background-color: var(--secondary-text-color);

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team .member-name {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;
}

.team .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;
}

address {
  color: var(--white);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;
}

.footer .contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;
}

.nav-btn {
  color: var(--primary-text-color);

  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.nav-btn:hover,
.nav-btn:focus {
  color: var(--select-color);
}

.nav-btn.current {
  color: var(--select-color);
}

.btn-order {
  color: var(--white);
  background-color: var(--select-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}

.btn-select:hover,
.btn-select:focus,
.btn-select.current {
  color: var(--white);
  background-color: var(--select-color);
}

.btn-select {
  color: var(--primary-text-color);
  background-color: var(--btn-select-bcg);
}

.contact-link {
  color: var(--secondary-text-color);
}

.contact-link:hover {
  color: var(--select-color);
}

.footer > .contact-link {
  color: var(--secondary-text-color);
}

.white-text {
  color: var(--white);
  background-color: var(--secondary-text-color);
}

.footer {
  background-color: var(--footer-color);
}

.footer-text {
  color: var(--white);
  background-color: var(--footer-color);
}
